.rbc-allday-cell {
    display: none;
}

.rbc-header{
    padding-bottom: 0.3rem;
    padding-top: 0.4rem;
    border-bottom: none;
}

.rbc-header button{
    cursor: default;
}

.rbc-day-slot .rbc-events-container{
    margin-right: 0;
}

.rbc-event{
    background-color: rgba(41, 204, 57, 0.1) !important;
    border: 1px solid #29CC39 !important;
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
    display: block !important;
    transition: all 200ms ease-in-out;
}

.rbc-event:hover{
    background-color: rgba(41, 204, 57, 0.2) !important;
    position: sticky;
    width: 6rem;
    overflow: visible ;
    height: fit-content !important;
    box-shadow: #a6a6a6 0px 0px 5px 0px;
}

.expanded-event:hover{
    height: fit-content !important;
}

.rbc-event-content{
    height: fit-content !important;
    min-height: max-content !important;
}

.rbc-current-time-indicator{
    background-color: var(--accent);
}

.rbc-time-header-gutter{
    background: url("../../assets/clock.svg") center no-repeat;
}

.rbc-time-slot .rbc-label{
    margin-left: 1rem;
    color: #888888;
}

.custom-day-header{
    white-space: pre-wrap;
}

.rbc-time-view{
    border: 0;
}

.rbc-today{
    background-color: rgba(202, 200, 200, 0.11);
}
