@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #222D43;

    --card: #EBF6FF;
    --card-foreground: #000000;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #FFFFFF;
    --primary-foreground: #222D43;

    --secondary: #222D43;
    --secondary-foreground: #FFFFFF;

    --muted: #F5F7FA;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #F9DD47;
    --accent-foreground: #222D43;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.7rem;
    background-color: var(--background);
  }

  .dark {
    --background: #101010;
    --foreground: #ffffff;

    --card: #EBF6FF;
    --card-foreground: #000000;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #191919;
    --primary-foreground: #ffffff;

    --secondary: #121b27;
    --secondary-foreground: #FFFFFF;

    --muted: #F5F7FA;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #F9DD47;
    --accent-foreground: #222D43;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.7rem;
    background-color: var(--background);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
