.addClassButton .onHover {
    display: none;
}

.addClassButton:hover .noHover {
    display: none;
}

.addClassButton:hover .onHover {
    display: inline;
}

/*.my-masonry-grid_column {*/
/*    !*padding-left: 30px; !* gutter size *!*!*/
/*    background-clip: padding-box;*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/

/*!* Style your items *!*/
/*.my-masonry-grid_column > div { !* change div to reference your elements you put in <Masonry> *!*/
/*    background: grey;*/
/*    margin-bottom: 30px;*/
/*}*/